.parentbanner {
    /* margin-left: 20%; */
    padding: 10px;
    /* border:  2px solid #FFCB05; */
    background: rgba(255, 203, 5, 0.2);
    /* background: url(../banner.jpeg); */
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../banner.jpeg);

    /* opacity: 0.75; */
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */

    /* margin: 10px; */
}

.bannerleft {
    padding: 15px;
}


.common-box {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.common-box:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.box-icon {
    font-size: 80px;
    margin: auto;
}

.serviceh1 {
    margin-left: -16%;
    padding: 10px;
}

.dabba {
    width: 65%;
    margin: auto;
    padding-top: 5px;
    /* font-size: 20px; */
}

.stepss {
    display: table-cell;
    vertical-align: middle;
    color: #000;

}

.formdiv {
    /* border: 2px solid; */
    /* height: 500px; */
    width: 35%;
    margin: 0px 0px 0px 10px;

}
#contactform
{
    width: 60%;
    margin: 0px 0px 0px 10px;

}

.form {
    height: 85%;
    width: 80%;
    margin: 10%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 2px solid; */
    border-radius: 13px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}


input[type=text],
input[type=number],
input[type=email],
select {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.submitbtn {
    border: 2px solid #FFCB05;
    padding: 0px 6px 0px 6px;
    font-size: 20px;
    border-radius: 8px;
    cursor: pointer;
    background-color: #FFCB05;
    /* background-color: #FFCB05; */

}

.submitbtn:hover {
    background-color: white;
    border: 2px solid #FFCB05;
}

.submitbtn:hover #subbtn {
    /* background-color: #FFCB05; */
    color: black;

}

.icon {
    position: fixed;
    bottom: 0;
    right: 0;
    margin-bottom: 30px;
    width: 70px;
    color: green;
    /* width: 300px; */

}

.servicedabba {
    margin-left: 10%;
    padding-top: 10%;

}

.faqdabba {
    margin-left: 15%;

}

.faq {
    margin-left: 1%;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.img-ph {
    display: none;
}

.footertxt {
    font-size: 14px;
}

.piccontainer {
    height: 20vh;
    width: 80%;
    /* margin: 10px; */
    /* margin-right: 100px; */
    /* border: 2px solid; */
    background: url('../images/josaso banner web.png');
    background-position: center;
    background-size: 100% 100%;
}

@media screen and (max-width: 905px) {
    .parentbanner {
        flex-wrap: wrap;
    }

    .servicedabba,
    .faqdabba {
        margin: 0px;
    }

    .formdiv,    #contactform {
        width: 100%;
        margin: auto;
        /* display: flex; */
        /* align-items: center; */
        /* justify-content: center; */
    }

    .faq {
        margin-left: 3%;
    }

    .img-ph {
        display: block;
    }

    .services-wrap {
        display: none;
    }

    .footer {
        flex-wrap: wrap;
    }



}

@media screen and (max-width: 950px) {
    .img-ph {
        display: block;
    }

    .services-wrap ,.piccontainer{
        display: none;
    }
}

@media screen and (max-width: 705px) {

    .parentbanner,
    .serviceh1 {

        margin: 0px;
    }

    .formdiv,    #contactform {
        width: 100%;
        margin: auto;
        /* display: flex; */
        /* align-items: center; */
        /* justify-content: center; */
    }

    .parentbanner {
        flex-wrap: wrap;

    }

    .banner {
        width: 100%;
    }

    .servicedabba,
    .faqdabba {
        margin: 0px;
    }

    .faq {
        margin-left: 5%;
    }

    .img-ph {
        display: block;
    }

    .footer {
        flex-wrap: wrap;
        text-align: center;
        align-items: center;
        justify-content: center;

    }

    .footertxt {
        font-size: 10px;

    }

}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}